* {
padding: 0;
margin-left: 15;
margin-right: 15;
font-family: Cursive;

}

ul {
list-style: none;
background: #f18f0f;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 25px 25px;
    color: #a81c1c;
    text-decoration: none;
    text-align: center;
    font-size:22px; 
    font-weight: bold;
}
ul li ul.dropdown li{
    display: block;

}

ul li ul.dropdown {
    width: 125%;
    padding: 10px 10px;
    background: #f18f0fc9;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #6f0c0c
}

ul li:hover ul.dropdown {
    display: block;
}

.nav {
    display: block;
    font-family: 'Cursive';
}

.header {
 float: left;
 padding: 0px;
 

}

.title {
    float: left;

}

.right {
    text-align: right;
    display: block;
    margin-left: 10px;
   }

.fix img{
position: absolute;
margin-top: -31.5px;
margin-left: -20px;
}
.Bname{
margin-left: 75px;
color: #a81c1c;
}
