<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}"/>

    
    <title> {% block title %} Lumpiang ShangRice {% endblock %}</title>

</head>

<body>
    <link rel="stylesheet" href="static\css\base.css" >
    <div class="nav">
        <ul>
            <div class="header">
            <li class="fix"><a href="/home"><img src = "{{ url_for('static', filename='images/logo.png') }}" width = "80" height="80"></a></li>
            <li class="Bname"><h1>  &nbsp; Lumpiang ShangRice </h1> </li>
            </div>
            <div class ="right"> 
            <li>
                <a href= "/flavors/normal"> Classic</a>
                <ul class="dropdown">
                    <li>  <a href="/flavors/normal/ndatabase/nexpenses">Expenses </a></li>
                    <li> <a href="/flavors/normal/ndatabase/nsales"> Sales </a></li>
                    <li> <a href="/flavors/normal/ndatabase/nprofits"> Profits </a></li>
                </ul>
            </li>
            
            <li>
                <a href= "/flavors/spicy"> Spicy</a>
                <ul class="dropdown">
                    <li> <a href="/flavors/spicy/sdatabase/sexpenses"> Expenses </a></li>
                    <li> <a href="/flavors/spicy/sdatabase/ssales"> Sales </a></li>
                    <li> <a href="/flavors/spicy/sdatabase/sprofits"> Profit </a></li>
                </ul>
            </li>

            <li>
                <a href= "/flavors/cheese"> Cheesy</a>
                <ul class="dropdown">
                    <li> <a href="/flavors/cheese/cdatabase/cexpenses"> Expenses </a></li>
                    <li> <a href="/flavors/cheese/cdatabase/csales"> Sales </a></li>
                    <li> <a href="/flavors/cheese/cdatabase/cprofits"> Profit </a></li>
                </ul>
            </li>
            <li> &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            </li>
            </div>
        </ul>
    </div>
    {% block content%}{% endblock %}
</body>
</html>
