{% extends 'base.html' %}



{% block content %}
<p> insert new menu bg pic
    <ul>
        <li><a href="/flavors/normal">Normal</a></li>
        <ul>
          <li><a href="/flavors/normal/ndatabase/nprofits">Profits</a></li>
          <li><a href="/flavors/normal/ndatabase/nexpenses">Expenses</a></li>
          <li><a href="/flavors/normal/ndatabase/nsales">Sales</a></li>
        </ul>
        <li><a href="/flavors/spicy">Spicy</a></li>
        <ul>
          <li><a href="/flavors/spicy/sdatabase/sprofits">Profits</a></li>
          <li><a href="/flavors/spicy/sdatabase/sexpenses">Expenses</a></li>
          <li><a href="/flavors/spicy/sdatabase/ssales">Sales</a></li>
        </ul>
        <li><a href="/flavors/cheese">Cheese</a></li>
        <ul>
          <li><a href="/flavors/cheese/cdatabase/cprofits">Profits</a></li>
          <li><a href="/flavors/cheese/cdatabase/cexpenses">Expenses</a></li>
          <li><a href="/flavors/cheese/cdatabase/csales">Sales</a></li>
        </ul>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
</p>
{% endblock %}
